.wrapper {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	max-width: var(--body-max-width, 150rem);
	height: calc(100% - var(--main-nav-height, 0rem));
	padding: var(--padding-main-1, 1rem) var(--padding-main-1-half, 0.5rem);
	margin: var(--main-nav-height, 0) auto;
	background-color: rgba(0, 0, 0, 0.6);
	transition: opacity 0.3s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow-y: auto;
	overflow-x: hidden;
	/* z-index: 999; */
}

.modalContainerDefault {
	position: relative;
	/* width: 97.5%; */
	margin: auto;
	border-radius: 0.5rem;
	box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.33);
	transition: all 0.3s ease;
	/* overflow-x: hidden; */
}

.ModalCloseButton {
	position: absolute;
	top: 0;
	transition: all ease-in var(--main-transition-duration, 0.3s);

	left: 0;
	padding: 0 0.3em 0.3em 0;
	border-radius: 0% 100% 100% 0% / 100% 0% 100% 0%;
	/* background: linear-gradient(145deg, black, white); */
}
.ModalCloseButton:focus {
	box-shadow: 0.14rem 0.14rem 0.5rem var(--pc3, black);
}

/* [dir='rtl']  */
.ModalCloseButton {
	left: unset;
	right: 0;
	padding: 0 0.3em 0.3em 0.6em;
	border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;
	/* background: linear-gradient(
		270deg,
		black,
		white,
	); */
	font-size: 1.5rem;
	background-color: gray;
}
/* [dir='rtl']  */
.ModalCloseButton:focus {
	box-shadow: -0.14rem 0.14rem 0.5rem var(--pc3, black);
}

.modalHeaderDefault {
	padding: var(--padding-main-1-half, 0.5rem);
	padding-bottom: 0em;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	text-align: center;
}

.modalBodyDefault {
	/* padding: 0 var(--padding-main-1, 1rem); */
}

.modalFooterDefault {
	padding: var(--padding-main-1-half, 0.5rem);
	padding-top: 0em;
	display: flex;
	justify-content: space-between;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
