.h2 span {
	overflow: hidden;
}

.h2 span p {
	transform: translateY(100%);
	animation: slideYTo0 var(--animation-duration, 0.6s)
		cubic-bezier(0.075, 0.82, 0.165, 1) forwards
		calc(
			(var(--index, 0) * var(--animation-duration, 0.6s)) -
				(var(--index, 0) * 0.1s)
		);
}

@keyframes slideYTo0 {
	to {
		transform: translateY(0);
	}
}
