/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#__next,
main {
	width: 100%;
}

#__next,
main {
	height: 100%;
}
body {
	--main-max-width: 200rem;
	--nav-height: 6rem;

	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
body,
body.light {
	color: #000;
	background-color: #fff;
}
body.dark {
	color: #fff;
	background-color: #000;
}

#__next {
	max-width: var(--main-max-width);
	margin: auto;
}

button[disabled] {
	cursor: not-allowed;
	filter: brightness(1.5) grayscale(2);
	pointer-events: none;
	transition: all 300ms ease-out;
}

@media screen and (max-width: 1024px) {
	body {
		--nav-height: 4rem;
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.item-shine {
		position: relative;
		overflow: hidden;
	}
	.item-shine-line {
		content: '';
		position: absolute;

		width: 200%;
		height: 20%;
		background-image: linear-gradient(
			180deg,
			transparent,
			rgba(255, 255, 255, 0.7)
		);
		transform: translate(-10%) rotate(-45deg);
		position: absolute;
		top: 0%;
		left: -100%;
	}
	.item-shine:hover .item-shine-line {
		transition: all 3s ease-in;
		transform: translate(2000%) rotate(-45deg);
		/* opacity: 1; */
	}
}
